@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  /* color: gold; */
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #0D1421;
  color: white;
}